# Travis is now container based which doesn't support sudo
sudo: false
language: csharp
solution: Scribe.sln
mono: none
dotnet: 3.0.100

notifications:
  email:
#    recipients:
#      - one@example.com
#      - other@example.com
    on_success: never #[always|never|change] # default: change
    on_failure: always #[always|never|change] # default: always

install:
  - sudo apt-get install -qq dotnet-sdk-2.0.0
  - dotnet restore Scribe.sln

script:
  - dotnet build Scribe.sln
  - dotnet test Scribe.sln