# http://www.appveyor.com/docs/appveyor-yml

environment:
  base_version: 2.0.8

# version format
version: $(base_version).{build}

image:
  - Visual Studio 2022

for:
  - 
    # branches to build
    branches:
      # whitelist
      only:
        - dev

    # Do not build on tags (GitHub only)
    skip_tags: true

    install:
      - dotnet tool install Nuke.GlobalTool --global --version 6.0.1 --no-cache

    before_build:
      - dotnet restore ./build/_build.csproj

    build_script:
      - nuke Release --isrc true --version "%base_version%" --buildno "%APPVEYOR_BUILD_NUMBER%" --configuration Release

  - 
    # branches to build
    branches:
      # whitelist
      only:
        - master

    # Do not build on tags (GitHub only)
    skip_tags: true

    install:
      - dotnet tool install Nuke.GlobalTool --global --version 6.0.1 --no-cache

    before_build:
      - dotnet restore ./build/_build.csproj

    build_script:
      - nuke Release --isrc false --version "%base_version%" --buildno "%APPVEYOR_BUILD_NUMBER%" --configuration Release

artifacts:
  - path: src\MeasureMap\bin\Release\netstandard2.0\MeasureMap.dll
    name: MeasureMap.dll
  - path: src\MeasureMap\bin\Release\netstandard2.0\MeasureMap.xml
    name: MeasureMap.xml
  # pushing all *.nupkg files in directory
  - path: 'src\**\*.nupkg'
